<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", new_registrant_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li class="active"><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-12 large-12 columns">
    <h2 class="extended-vertical-padding">Contact Us</h2>
    <p>If you have questions about the fair, we'd be happy to answer them. You can call us at 847.251.9818 during the Family History Center's open hours (check www.wilmettefhc.org for the current schedule) or you can email us at info@wilmettefamilyhistoryfair.com.</p>
  </div>
</div>
