<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", register_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li class="active"><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-12 large-12 columns">
    <h2 class="extended-vertical-padding">Exhibits</h2>
    <p>Here are some of the booths you can look forward to:<br><br>
          
      <span class="bold">Introduction to FamilySearch Indexing</span><br>
      <span class="italic">Learn what it accomplishes and how to get involved.</span><br><br>

      <span class="bold">Hands-On Indexing</span><br>
      <span class="italic">We'll show you what you need to know to give it a quick try. If the Chicago death certificate project is available, we'll use those records as our example.</span><br><br>

      <span class="bold">Favorite Recipes of our Ancestors</span><br>
      <span class="italic">Learn how cooking can help you get to know your ancestors better.</span><br><br>
                  
      <span class="bold">Animated How-to Videos for Getting Started with Family History</span><br>
      <span class="italic">View short clips with fun hints for beginning your family tree.</span> <br><br>
                  
      <span class="bold">Print a Fan Chart for Your Ancestors</span><br>
      <span class="italic">Log into your FamilySearch account (or create one!) and we'll print a color fan chart for you to frame.</span><br><br>
                  
      <span class="bold">Recording Your Family History on Video (Spanish)</span><br>
      <span class="italic">Learn how one local family preserved their stories on video.</span><br><br>
                  
      <span class="bold">Mongolian Genealogy Research</span><br>
      <span class="italic">Learn what Mongolian researchers are doing to preserve their heritage and get inspired to preserve your own.</span>

    </p>
  </div>
</div>