<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", new_registrant_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li class="active"><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-12 large-12 columns">
    <h2 class="extended-vertical-padding">Exhibits</h2>
          
      <h4>Introduction to FamilySearch Indexing</h4>
      <ul class="square"><li>Find out what Indexing accomplishes and how you can get involved. We'll even guide you through a hands-on demonstration if you'd like.</li></ul>

      <h4>Favorite Recipes of our Ancestors</h4>
      <ul class="square"><li>Learn how cooking can help you get to know your ancestors better.</li></ul>

      <h4>Animated How-to Videos for Getting Started with Family History</h4>
      <ul class="square"><li>View short clips with fun hints for beginning your family tree.</li></ul>
                  
      <h4>Print a Fan Chart for Your Ancestors</h4>
      <ul class="square"><li>Log into your FamilySearch account (or create one!) and we'll print a color fan chart for you to frame.</li></ul>

      <h4>Local Genealogical & Historical Societies</h4>
      <ul class="square"><li>There are a bunch of great organizations in the area that can assist you in your research efforts, particularly if you have Chicago ancestors. Get to know several of them and learn what they can do for you.</li></ul>
                  
  </div>
</div>