<% flash.each do |key, value| %>
  <div data-alert class="alert-box success radius">
    <%= value %>
    <a href="" class="close">&times;</a>
  </div>
<% end %>

<div class="row">
  <div id="colorify">
    <div class="small-6 large-6 columns"><%= image_tag "home_page.jpg" %></div>
    <div class="small-6 large-6 columns">
      <h3 id="top-text">Jumpstart Your Genealogy</h3>
      <p class="smaller-text">at the</p>
      <h5>Chicago Family History Fair 2015</h5>
      <p>Saturday, March 21st, 2015 — 8 am to 5 pm<br>2727 Lake Avenue, Wilmette, Illinois</p>

      <p class="smaller-text">Are you just getting started with genealogy research or are you looking to get back on track? Sign up to attend the 2015 Chicago Family History Fair! We're offereing a full day of helpful classes designed to help you make progress towards your genealogy goals.</p>

      <p class="smaller-text">Our keynote speaker is <a href="http://hidefgen.com/about/thomas-macentee/">Thomas McEntee</a>, founder of GeneaBloggers.com and a genealogy educator of renown. Thomas will present four of his most popular and engaging workshops:</p>

      <ul>  
        <ul class="no-bullet">
          <li class="smaller-text">10 Ways to Jumpstart Your Genealogy</li>
          <li class="smaller-text">Building a Research Toolbox</li>
          <li class="smaller-text">You Use WHAT for Genealogy? Wonderful Uses for Unusual Tools</li>
          <li class="smaller-text">7 Habits of Highly Frugal Genealogists</li>
        </ul>
      </ul>

      <p class="smaller-text">We'll also have additional <a>local speakers</a>, computer lab classes, recorded video presentations from RootsTech 2015, fun family history activities for children, plus one-on-one help from experienced researchers.</p>

      <%= link_to "Register Now (It's Free!)", register_path, class: "button round small-12 large-12 medium-12 columns" %>

    </div>
  </div>
</div>

<div class="row">
  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "workshops.jpg", class: "image-centered" %>
    <h4 class="text-centered">Workshops</h4>
    <p class="smaller-text">Couldn't make it to Salt lake City for RootsTech 2015? Come get the same great genealogy content here at teh Chicago Family History Fair. We'll offer some of the best talks from RootsTech on vido in three parallel tracks. We'll have great live presentations from local genealogists.</p>
  </div>

  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "exhibits.jpg", class: "image-centered" %>
    <h4 class="text-centered">Exhibits</h4>
    <p class="smaller-text">Chicago has lots of local organizations that can help you fill in the branches of your family tree. Check out the booths in the exhibit hall to get to know local historical and cultural societies. You'll also be able to sample family recipes handed down through generations, and even try your hand at indexing.</p>
  </div>

  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "expert_help.jpg", class: "image-centered" %>
    <h4 class="text-centered">Expert Help</h4>
    <p class="smaller-text">Looking for one-on-one help finding answers to your family history questions? Visit our family History Center and sign up for a personal consultation with one of our experienced genealogical researchers. Or get friendly assistance translating Polish, German, or Japanese records. The cost? Free, of course.</p>
  </div>
</div>