<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", new_registrant_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<% flash.each do |key, value| %>
  <div data-alert class="alert-box success radius">
    <%= value %>
    <a href="" class="close">&times;</a>
  </div>
<% end %>

  <div class="row extended-vertical-margin" id="full-background-pic">
    <div class="large-6 large-offset-6 medium-6 medium-offset-6 columns" id="opaqued">
      <h2 class="white">Jumpstart Your Genealogy</h2>
      <h5 class="white">Chicago Family History Fair 2015</h5>
      <p class="white">Saturday, March 21st, 2015 — 8 am to 5 pm<br>2727 Lake Avenue, Wilmette, Illinois</p>

      <p class="smaller-text white">Are you just getting started with genealogy research or are you looking to get back on track? Sign up to attend the 2015 Chicago Family History Fair! We're offereing a full day of helpful classes designed to help you make progress towards your genealogy goals.</p>

      <p class="smaller-text white">Our keynote speaker is <a href="http://hidefgen.com/about/thomas-macentee/">Thomas McEntee</a>, founder of <a href="http://www.geneabloggers.com">GeneaBloggers.com</a> and a genealogy educator of renown. Thomas will present four of his most popular and engaging workshops:</p>

      <ul class="square">  
        <li class="smaller-text white">Ten Ways to Jumpstart Your Genealogy</li>
        <li class="smaller-text white">Genealogy: The Future is Now</li>
        <li class="smaller-text white">Genealogy Do-Over: A Year of Learning from Mistakes</li>
        <li class="smaller-text white">You Use WHAT for Genealogy? Wonderful Uses for Unusual Tools</li>
      </ul>

      <p class="smaller-text white">We'll also have additional <%= link_to "local speakers", speakers_path %>, computer lab classes, recorded video presentations from RootsTech 2015, fun family history activities for children, plus one-on-one help from experienced researchers.</p>

      <%= link_to "Register Now (It's Free!)", new_registrant_path, class: "button round alert small-12 large-12 medium-12 columns" %>

    </div>
  </div>

<div class="full-width-container three">
<div class="row extended-vertical-padding">
  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "workshops.jpg", class: "image-centered" %>
    <h4 class="text-centered">Presentations</h4>
    <p class="smaller-text">Couldn't make it to Salt lake City for RootsTech 2015? Come get the same great genealogy content here at teh Chicago Family History Fair. We'll offer some of the best talks from RootsTech on vido in three parallel tracks. We'll have great live presentations from local genealogists.</p>
    <div class="text-centered"><%= link_to "Schedule Highlights", schedule_path %></div> 
  </div>

  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "exhibits.jpg", class: "image-centered" %>
    <h4 class="text-centered">Exhibits</h4>
    <p class="smaller-text">Chicago has lots of local organizations that can help you fill in the branches of your family tree. Check out the booths in the exhibit hall to get to know local historical and cultural societies. You'll also be able to sample family recipes handed down through generations, and even try your hand at indexing.</p>
    <div class="text-centered"><%= link_to "List of Exhibitors", exhibits_path %></div> 
  </div>

  <div class="small-4 medium-4 large-4 columns">
    <%= image_tag "expert_help.jpg", class: "image-centered" %>
    <h4 class="text-centered">Expert Help</h4>
    <p class="smaller-text">Looking for one-on-one help finding answers to your family history questions? Visit our family History Center and sign up for a personal consultation with one of our experienced genealogical researchers. Or get friendly assistance translating Polish, German, or Japanese records. The cost? Free, of course.</p>
    <div class="text-centered"><%= link_to "More Details", research_help_path %></div>
  </div>
</div>
</div>