<nav class="top-bar" data-topbar role="navigation" id="header">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", new_registrant_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li><%= link_to "Exhibits", exhibits_path %></li>
      <li class="active"><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<div id="body">
  <div class="row">
    <div class="small-12 large-12 columns">
      <h2 class="extended-vertical-padding">Research Help</h2>
      <p>This year we've set aside dedicated rooms next to the FHC for one-on-one consultations with local volunteer researchers. You'll be able to ask research questions and get translation help for Polish or German documents.</p>
      <p>When you register, select "1-on-1 Research Help" as your class choice during the class period most convenient for you. When you arrive at the fair and check in, you'll have a chance to sign up for a specific 30-minute time slot during the class period you chose.</p>
      <p>The FHC itself will be in use during the morning and early afternoon sessions of the Fair for computer lab presentations. Microfilm readers & printers will be available throughout the day. From 3:45-5:00 pm, the FHC will be open extended hours for online research and personalized research assistance.</p>
    </div>
  </div>
</div>
