<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to "Register", new_registrant_path, class: "alert button" %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li class="active"><%= link_to "Schedule", schedule_path %></li>
      <li><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<div class="row extended-vertical-padding">
  <div class="small-12 large-12 columns">
    <h2>Schedule of Presentations and Activities</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:00am - 8:30am</h4>
    <ul class="square">
      <li>Check In</li>
      <li>Continental Breakfast</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:30am - 9:30am</h4>
    <ul class="square">
      <li>Welcome</li>
      <li>RootsTech Keynote Presentations</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>9:45am - 10:45am</h4>
    <ul class="square">
      
      <!--<% CLASSES[0].each do |c| %>
        <% if c.length == 2 %>
          <li><%= c[2] %> <%= c[1] %></li>
        <% else %>
          <li><%= c[1] %></li>
        <% end %>
      <% end %>-->
      
      <li><a href="/speakers#thomas_macentee">Thomas MacEntee</a>, Ten Ways to Jumpstart Your Genealogy (Live presentation, Chapel)</li>
      <li><%= CLASSES[0][1][0] %></li>
      <li><%= CLASSES[0][2][0] %></li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>11:00am - Noon</h4>
    <ul class="square">
      <li>Thomas MacEntee, Genealogy: The Future Is Now (Live presentation, Chapel)</li>
      <li><a href="/speakers#janis_forte">Janis Forte</a>, African-American Research Techniques (Live presentation, RS Room)</li>
      <li><a href="/speakers#julie_busse">Julie Busse</a>, Introduction to RootsMagic (Computer Lab, Family History Center)</li>
      <li>Finding Missing People in Your Family Tree (video, Room 1)</li>
      <li>Family History on the Go (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>Noon - 1:15pm</h4>
    <ul class="square">
      <li>Lunch (on your own; see our [list of nearby restaurants])</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>1:15pm - 2:15pm</h4>
    <ul class="square">
      <li>Thomas McEntee, Genealogy: Do-Over: A Year of Learning from Mistakes (Live presentation, Chapel)</li>
      <li><a href="/speakers#justyna_cwynar">Justyna Cwynar</a>, Online Resources for Polish Research (Live presentation, RS Room)</li>
      <li><a href="/speakers#amanda_jensen">Amanda Jensen</a>, Introduction to FamilySearch (Computer Lab, Family History Center)</li>
      <li>From Tree to Temple: Preparing Family Names for the Temple (video, Room 1)</li>
      <li>Getting Started in Genetic Genealogy (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>2:30pm - 3:30pm</h4>
    <ul class="square">
      <li>Thomas MacEntee, You Use WHAT for Genealogy?: Wonderful Uses for Unusual Tools (Live presentation, Chapel)</li>
      <li><a href="/speakers#donna_roginski">Donna Roginski</a>, Online Census Tips and Secrets (Live presentation, RS Room)</li>
      <li><a href="/speakers#jeremy_foote">Jeremy Foote</a>, The Power of Online Genealogy Collaboration (Computer Lab, Family History Center)</li>
      <li>FamilySearch & Beyond: New Resources for Members (video, Room 1)</li>
      <li>FamilySearch Indexing: It's a Whole New World! (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>3:45pm - 4:45pm</h4>
    <ul class="square">
      <li>Branching Out: Useful Tools to Help You Find More Names (video, Room 1)</li>
      <li>What's New at FamilySearch (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
  </div>
</div>

<!--

<div class="row">
  <div class="small-12 large-12 columns">
    <h4>8:00am - 8:30am</h4>
    <ul>
      <li>Check In</li>
      <li>Continental Breakfast</li>
    </ul>
    
    <h4>8:30am -9:30am</h4>
    <ul>
      <li>Welcome</li>
      <li>RootsTech Keynote Presentations</li>
    </ul>
    <h4>9:45am - 10:45am</h4>
    <ul>
      <li>*[Thomas MacEntee]*, Ten Ways to Jumpstart Your Genealogy (Live presentation, Chapel)</li>
      <li>Find Names & Strengthen Family with the My Family booklet (video, Room 1)</li>
      <li>Getting the Most Out of Ancestry.com (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>11:00am - Noon</h4>
    <ul>
      <li>*Thomas MacEntee*, Genealogy: The Future Is Now (Live presentation, Chapel)</li>
      <li>*[Janis Forte]*, African-American Research Techniques (Live presentation, RS Room)</li>
      <li>*[Julie Busse]*, Introduction to RootsMagic (Computer Lab, Family History Center)</li>
      <li>Finding Missing People in Your Family Tree (video, Room 1)</li>
      <li>Family History on the Go (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>Noon - 1:15pm</h4>
    <ul>
      <li>Lunch (on your own; see our [list of nearby restaurants])</li>
    </ul>
    
    <h4>1:15pm - 2:15pm</h4>
    <ul>
      <li>*Thomas MacEntee*, Genealogy: Do-Over: A Year of Learning from Mistakes (Live presentation, Chapel)</li>
      <li>*[Justyna Cwynar]*, Online Resources for Polish Research (Live presentation, RS Room)</li>
      <li>*[Amanda Jensen]*, Introduction to FamilySearch (Computer Lab, Family History Center)</li>
      <li>From Tree to Temple: Preparing Family Names for the Temple (video, Room 1)</li>
      <li>Getting Started in Genetic Genealogy (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>2:30pm - 3:30pm</h4>
    <ul>
      <li>*Thomas MacEntee*, You Use WHAT for Genealogy?: Wonderful Uses for Unusual Tools (Live presentation, Chapel)</li>
      <li>*[Donna Roginski]*, Online Census Tips and Secrets (Live presentation, RS Room)</li>
      <li>*[Jeremy Foote]*, The Power of Online Genealogy Collaboration (Computer Lab, Family History Center)</li>
      <li>FamilySearch & Beyond: New Resources for Members (video, Room 1)</li>
      <li>FamilySearch Indexing: It's a Whole New World! (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Family History Activities for Children (Primary Area)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
    <h4>3:45pm - 4:45pm</h4>
    <ul>
      <li>Branching Out: Useful Tools to Help You Find More Names (video, Room 1)</li>
      <li>What's New at FamilySearch (video, Room 2)</li>
      <li>1-on-1 Research & Translation Help (Room 4)</li>
      <li>Exhibits from Local Societies and Stake Organizations (Cultural Hall)</li>
    </ul>
    
  </div>
</div>

-->