<div class="row extended-vertical-padding">
  <div class="small-12 large-12 columns">
    <h2>Speakers and Presenters</h2>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "thomas_macentee.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Thomas MacEntee</h4>
    <p>A genealogy professional who's also a blogger, educator, author, social media connector, marketer, network builder and more. Thomas is probably best known for creating the online community Geneabloggers, which brings together 3,000 individuals who share their family history experiences with others. He's also the founder of High Definition Genealogy and Hack Genealogy. He brings a fun and engaging style to genealogy education.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "janis_forte.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Janis Forte</h4>
    <p>Janis Minor Forte is an experienced genealogist, writer, and lecturer who has presented at national, state, and local genealogical conferences. Her presentation specialties include methodology, problem solving techniques, skill-building techniques, and case studies. She is also proficient in assisting in the identification of slave holders.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "korra.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Amanda Jensen</h4>
    <p>Amanda Jensen is Founder and CEO of ROots4All Genealogical Services. She has a Bachelor's Degree in Family History/Genealogy from BYU-Provo and has researched and worked in the genealogical field since 1997. A member of the Chicago Genealogical Society and the Association of Professional Genealogists, Ms. Jensen was formerly a genealogical consultant for WorldVitalRecords.com where she published an e-book and wrote 132 articles for their newsletter giving tips and hints at doing genealogy in 15 minutes a day.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "korra.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Donna Roginski</h4>
    <p>Donna Roginski has a Master of Liberal Arts in Library Science from Northern Illinois University. Now retired, she has been a librarian in school libraries, public libraries, and hospital medical libraries. She is a family history center volunteer and passionate genealogy researcher.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "korra.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Justyna Cwynar</h4>
    <p>Justyna Cwynar is a long-time regular visitor to our family history center and an experienced Polish researcher.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "korra.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Julie Busse</h4>
    <p>Julie Busse is a long-time regular visitor to our family history center and an experienced Polish researcher.</p>
  </div>
</div>

<div class="row speaker-blurb">
  <div class="large-3 medium-3 small-3 columns">
    <%= image_tag "korra.jpg" %>
  </div>
  <div class="large-9 medium-9 small-9 columns">
    <h4>Jeremy Foote</h4>
    <p>Jeremy Foote is a PhD student at Northwestern University in Media, Technology, and Society. He's studying how and why people collaborate online.</p>
  </div>
</div>