<%= form_for(@registrant) do |f| %>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= label_tag("9:45 - 10:45") %>
      <%= f.select(:time_slot_1) do %>
        <% [['10 Ways to Jumpstart Your Genealogy - Thomas McEntee', 1], ['From Tree to Temple: Preparing Family Names for the Temple', 2], ["What's New at FamilySearch", 3]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.select(:time_slot_2) do %>
        <% [['Lisbon', 1], ['Madrid', 2], ['Catholics', 3]].  each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.select(:time_slot_3) do %>
        <% [['Lisbon', 1], ['Madrid', 2], ['Catholics', 3]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.select(:time_slot_4) do %>
        <% [['Lisbon', 1], ['Madrid', 2], ['Catholics', 3]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.select(:time_slot_5) do %>
        <% [['Lisbon', 1], ['Madrid', 2], ['Catholics', 3]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.select(:time_slot_6) do %>
        <% [['Lisbon', 1], ['Madrid', 2], ['Catholics', 3]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= f.submit "Submit", class: "button round large-12 columns" %>
    </div>
  </div>
  
<% end %>