<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "Chicago Family History Fair", root_path %></h1></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "Speakers", speakers_path %></li>
      <li><%= link_to "Schedule", schedule_path %></li>
      <li><%= link_to "Exhibits", exhibits_path %></li>
      <li><%= link_to "Research Help", research_help_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </section>
</nav>

<%= form_for(@registrant) do |f| %>

  <div class="row extended-vertical-padding">
    <div class="large-12 medium-12 small-12 columns">
    <h2>Register and Select Presentations/Workshops</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.label :full_name %>
          <%= f.text_field :full_name %>
        </div>
      </div>
      
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.label :email_address %>
          <%= f.text_field :email_address %>
        </div>
      </div>

      <% if flash[:error] %>
        <div class="row">
          <div class="large-12 medium-12 small-12 columns">
            <div data-alert class="alert-box alert radius">
              <%= flash[:error] %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("First Session: 9:45am - 10:45am") %>
          <%= f.select(:time_slot_1) do %>
            <option value="None">Please select a class...</option>
            <% CLASSES[0].each do |c| -%>
              <% if c.first == @registrant.time_slot_1 %>
                <%= content_tag(:option, c.first, value: c.first, selected: "") %>
              <% else %>
                <% if c.first == "1-on-1 Research Help (Room 4)" %>
                  <%= content_tag(:option, "1-on-1 Research Help is full for this session.", value: c.first, disabled: true) %>
                <% else %>
                  <%= content_tag(:option, c.first, value: c.first) %>
                <% end%>
              <% end %>
            <% end %>
            <%= content_tag(:option, "None", value: "None") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("Second Session: 11:00am - 12:00pm") %>
          <%= f.select(:time_slot_2) do %>
            <option value="None">Please select a class...</option>
            <% CLASSES[1].each do |c| -%>
              <% if c.first == @registrant.time_slot_2 %>
                <%= content_tag(:option, c.first, value: c.first, selected: "") %>
              <% else %>
                <% if c.first == "1-on-1 Research Help (Room 4)" %>
                  <%= content_tag(:option, "1-on-1 Research Help is full for this session.", value: c.first, disabled: true) %>
                <% else %>
                  <%= content_tag(:option, c.first, value: c.first) %>
                <% end%>
              <% end %>
            <% end %>
            <%= content_tag(:option, "None", value: "None") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("Third Session: 1:15pm - 2:15pm") %>
          <%= f.select(:time_slot_3) do %>
            <option value="None">Please select a class...</option>
            <% CLASSES[2].each do |c| -%>
              <% if c.first == @registrant.time_slot_3 %>
                <%= content_tag(:option, c.first, value: c.first, selected: "") %>
              <% else %>
                <% if c.first == "1-on-1 Research Help (Room 4)" %>
                  <%= content_tag(:option, "1-on-1 Research Help is full for this session.", value: c.first, disabled: true) %>
                <% else %>
                  <%= content_tag(:option, c.first, value: c.first) %>
                <% end%>
              <% end %>
            <% end %>
            <%= content_tag(:option, "None", value: "None") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("Fourth Session: 2:30pm - 3:30pm") %>
          <%= f.select(:time_slot_4) do %>
            <option value="None">Please select a class...</option>
            <% CLASSES[3].each do |c| -%>
              <% if c.first == @registrant.time_slot_4 %>
                <%= content_tag(:option, c.first, value: c.first, selected: "") %>
              <% else %>
                <% if c.first == "1-on-1 Research Help (Room 4)" %>
                  <%= content_tag(:option, "1-on-1 Research Help is full for this session.", value: c.first, disabled: true) %>
                <% else %>
                  <%= content_tag(:option, c.first, value: c.first) %>
                <% end%>
              <% end %>
            <% end %>
            <%= content_tag(:option, "None", value: "None") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("Fifth Session: 3:45pm - 4:45pm") %>
          <%= f.select(:time_slot_5) do %>
            <option value="None">Please select a class...</option>
            <% CLASSES[4].each do |c| -%>
              <% if c.first == @registrant.time_slot_5 %>
                <%= content_tag(:option, c.first, value: c.first, selected: "") %>
              <% else %>
                <% if c.first == "1-on-1 Research Help (Room 4)" %>
                  <%= content_tag(:option, "1-on-1 Research Help is full for this session.", value: c.first, disabled: true) %>
                <% else %>
                  <%= content_tag(:option, c.first, value: c.first) %>
                <% end%>
              <% end %>
            <% end %>
            <%= content_tag(:option, "None", value: "None") %>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <%= label_tag("How many children age 3-11 attending children's activities?") %>
          <%= f.select(:children) do %>
            <% (0..10).each do |c| -%>
              <%= content_tag(:option, c, value: c) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row extended-vertical-padding">
        <div class="large-12 medium-12 small-12 columns">
          <%= f.submit "Register and Reserve Class Selections", class: "button round" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 small-6 columns">
      <div class="temporary-box">
        
      </div>
      </div>
    </div>
  </div>
<% end %>
